<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
  <div class="login-box">
    <form >
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>

              <ion-input type="text" name="name" placeholder="name" [(ngModel)]="registerCredentials.name" size=45 >

              </ion-input>
              <!-- <ion-input type="text" name="last" placeholder="Last" ng-model="registerCredentials.lastname" size=21>
              </ion-input> -->

              
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"  size=45 required>

              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" size=45 required>

              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="string" placeholder="Phone Number" name=phone pattern="[0-9]" minlength=10 maxlength=10 [(ngModel)]="registerCredentials.phone_number" size=45 required>


              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Address" name=address [(ngModel)]="registerCredentials.address" size=45></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="string" pattern="[0-9]" placeholder="PinCode" name=pincode [(ngModel)]="registerCredentials.pincode" size=45></ion-input>

            </ion-item>

         
         </ion-list>


        <ion-list radio-group ng-model="gender">
        <ion-row>
  <ion-item>
    <ion-label>Male</ion-label>
    <ion-radio value="male" size=21 (click)="genderMale()"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Female</ion-label>
    <ion-radio value="female" checked size=21 (click)="genderFemale()"></ion-radio>
  </ion-item>
</ion-row>
</ion-list>

       </ion-col>
     </ion-row>

     <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" (click)="register()">Register
        </button>
      </ion-col>
    </ion-row>

  </form>
</div>
</ion-content>